PORT=3000

# Genera una cadena random larga (ej. con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
SESSION_SECRET=cambia_esto_por_algo_secreto

# Secret Key de hCaptcha (dashboard.hcaptcha.com)
HCAPTCHA_SECRET=ES_0cf00826876f4e40abd1c276f295b507
